.featuredContain {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    background-color: antiquewhite;
    justify-content: space-between;
    min-height: 100%;

}

.browseContain {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: lightcoral;
    grid-gap: 10px;
    padding: 10px;
    /* height: 300px; */

}

.no-dec {
    list-style: none;
    text-decoration: none;
    /* display: inline; */
}

.no-dec li {
    display: inline;
    margin-left: 20px;
}

.line-height {
    /* line-height: 1px; */
    line-height: 1em;
}

.article-carousel-container {
    display: flex;
    flex-direction: row;
}


.mainSlider {
    padding: 0px 20px;
    height: 400px;
    width: 500px;
    overflow: hidden;
    margin-top: 40px;
}

.mainSlider img {
    /* max-width: 100%; */
    max-height: 100%;

}

.feat-padding {
    padding: 0 10px;
}

#feat-art{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
    
}


/* @keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} */